<ul class="nav" role="menu">
    <li class="nav-deep-learning" role="menuitem"><a href="{{site.baseurl}}tag/deep-learning/">Deep Learning</a></li>
    <li class="nav-data-science" role="menuitem"><a href="{{site.baseurl}}tag/data-science/">Data Science</a></li>
    <li class="nav-dev" role="menuitem"><a href="{{site.baseurl}}tag/dev/">Dev</a></li>
    <li class="nav-cryptography" role="menuitem"><a href="{{site.baseurl}}tag/cryptography/">Cryptography</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-personal-webpage" role="menuitem"><a href="https://ibarrond.github.io">Personal Webpage</a></li>
</ul>
