# Generic Math
numba    # Efficient NumPy JIT compiler
numpy    # Basic - Array computing
scipy    # More maths/engineering/scientific computing
cython   # Bridge C & C++ with Python

# Notebooks
jupyter  # Basic - Interactive notebooks
jupytext # Git meets Jupyter notebooks 
jupyter_contrib_nbextensions # Extensions for notebooks. Need config!

# Data Science
pandas   # Basic - Data processing, tables and dataframes
dask     # Scaling Numpy, Pandas, Scikit-Learn and XGBoost
statsmodels # Statistical models
xgboost  # State of the art decission trees

# Data visualization
matplotlib # Basic - plot data
holoviews  # Interactive data visualization
datashader # Render huge datasets
matplotlib_venn # Plotting Venn diagrams
seaborn    # Improving Matplotlib
bokeh      # Interactive data visualization

# Web App and REST
requests   # Basic - interact with any REST API
flask      # Web dev, lightweight compared to django

# Machine & Deep Learning
tensorflow           # Basic - Deep Learning from google
tensorflow_hub       # Collection of tf models
tensorflow_datasets  # Collection of tf datasets
scikit-learn         # Basic - Machine Learning

# Time Series (Only in Linux)
#   -> Requires a C++ compiler: sudo apt-get install build-essential
pystan;    platform_system!='Windows'
fbprophet; platform_system!='Windows'

# Utilities
pylint     # Better coding inside VSCode

# Python documentation
sphinx			# Standard documentation generator, reads docstrings!
sphinx-gallery		# Gallery of examples
memory-profiler		# Memory usage when running examples
sphinxcontrib-fulltoc	# Full TOC in sidebar
